
 /* body { background-color: #DDD; } */

table { border-collapse: collapse; }

.mulist tr { height: 48px;/*img-height:43px + padding:5px*/ }
.mulist th, .mulist td {
    padding: 1px/*img-border-top:1px*/ 0 11px/*img-bottom-border:6px + padding:5px*/ 0; 
    background: url(/static/images/row_bg_cw.png) repeat-x;
    vertical-align: middle;
}
.mulist th.left  { width: 9px; background: url(/static/images/row_bg_l.png) no-repeat; }
.mulist th.right { width: 9px; background: url(/static/images/row_bg_r.png) no-repeat; }
.mulist th.title {
    width: 280px;
    padding-left: 5px; padding-right: 5px;
    font-size: 12px;
    text-align: left;
}

.mulist td.level { padding: 0 0 10px 0; }
.mulist td.level span { display: block; width: 24px; height: 38px; text-indent: -99999px; }
.mulist td.level span.level_bas { background: none -48px 0 no-repeat; }
.mulist td.level span.level_adv { background: none -24px 0 no-repeat; }
.mulist td.level span.level_ext { background: none 0 0 no-repeat; }
.mulist td.level span.level_1 { background-image: url(/static/images/level1.png); }
.mulist td.level span.level_2 { background-image: url(/static/images/level2.png); }
.mulist td.level span.level_3 { background-image: url(/static/images/level3.png); }
.mulist td.level span.level_4 { background-image: url(/static/images/level4.png); }
.mulist td.level span.level_5 { background-image: url(/static/images/level5.png); }
.mulist td.level span.level_6 { background-image: url(/static/images/level6.png); }
.mulist td.level span.level_7 { background-image: url(/static/images/level7.png); }
.mulist td.level span.level_8 { background-image: url(/static/images/level8.png); }
.mulist td.level span.level_9 { background-image: url(/static/images/level9.png); }
.mulist td.level span.level_10 { background-image: url(/static/images/level10.png); }

.mulist td.top {
    padding: 1px 0 24px 0;
    background: url(/static/images/row_bg_cb.png) repeat-x;
}

.mulist td.mb_holder { padding: 0; }
.mulist div.mb_holder { position: relative; padding: 0; height: 48px; }
.mulist div.mb_holder div.mb {
    position: absolute;
    top: 28px; left: 0;
    width: 612px;
    height: 5px;
    padding: 0;
    text-align: center;
}
.mulist div.mb span { display: inline-block; width: 5px; height: 5px; }
.mulist div.mb span.mby { background: url(/static/images/mb_y.png); }
.mulist div.mb span.mbb { background: url(/static/images/mb_b.png); }
.mulist div.mb span.mbg { background: url(/static/images/mb_g.png); }

.mulist td.ind { width: 15px; padding: 4px 4px 29px 4px; text-indent: -99999px; }
.mulist td.ind_ng { padding-left: 9px; }
.mulist td.ind_ay { padding-right: 9px; }
.mulist td.ind span { display: block; width: 15px; height: 15px; background: no-repeat; }
.mulist td.ind span.ind_none { background-image: url(/static/images/ball_grey.png); }
.mulist td.ind span.ind_ng { background-image: url(/static/images/ball_blue.png); }
.mulist td.ind span.ind_ay { background-image: url(/static/images/ball_yellow.png); }
.mulist td.ind span.ind_fc { background-image: url(/static/images/ball_green.png); }

.mulist td.rating {
    width: 46px;
    background: url(/static/images/row_bg_sep.png) no-repeat;
    text-indent: -99999px;
}
.mulist td.rating span { display: block; width: 44px; height: 23px; padding-left: 2px; }
.mulist td.rating span.rating_exc { background: url(/static/images/rating_exc.png) no-repeat; }
.mulist td.rating span.rating_sss { background: url(/static/images/rating_sss.png) no-repeat; }
.mulist td.rating span.rating_ss { background: url(/static/images/rating_ss.png) no-repeat; }
.mulist td.rating span.rating_s { background: url(/static/images/rating_s.png) no-repeat; }
.mulist td.rating span.rating_a { background: url(/static/images/rating_a.png) no-repeat; }
.mulist td.rating span.rating_b { background: url(/static/images/rating_b.png) no-repeat; }
.mulist td.rating span.rating_c { background: url(/static/images/rating_c.png) no-repeat; }
.mulist td.rating span.rating_d { background: url(/static/images/rating_d.png) no-repeat; }
.mulist td.rating span.rating_e { background: url(/static/images/rating_e.png) no-repeat; }

.mulist td.score {
    width: 80px;
    background: url(/static/images/row_bg_sep.png) no-repeat;
    font-size: 14px; font-weight: bold; color: white;
    text-align: right;
}

.mulist td.space { width: 400px; }
