<html>
  <head>
    <title></title>
    <style type="text/css">
            h1 {
                color: #0099FF;
                font-family: 'trebuchet ms', trebuchet, arial, sans-serif;
                font-size: 72px;
                text-align: center;
                margin-top: 24px;
            }
    </style>
  </head>
  <body>
    <h1>{{ message|e }}</h1>

  <ul>
    {% for tune in tunes %}
    <li>
      [{{ tune.tune_id }}]
      <b>{{ tune.title }}</b>
      {% if tune.artist %}
        / {{ tune.artist }}
      {% endif %}
    </li>
    {% endfor %}

    <form method="post" action="/regist" enctype="multipart/form-data">
      <input type="file" name="score_record_file">
      <input type="submit" name="submit" value="submit">
    </form>
  </ul>

  </body>
</html>
