<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
  <head>
    <title>juvisual</title>
    <link rel="stylesheet" href="/static/base.css" type="text/css" media="screen" />
  </head>
  <body>
    <h1>{{ message|e }}</h1>

    <table class="mulist">
      <thead>
        <tr>
          <th><!-- left cap --></th>
          <th>Title</th>
          <th>Level</th>
          <th><!-- music bar --></th>
          <th>No Gray</th>
          <th>Full Combo</th>
          <th>All Yellow</th>
          <th>Rating</th>
          <th>Best Score</th>
          <th><!-- space --></th>
          <th>Last Updated</th>
          <th><!-- right cap --></th>
        </tr>
      </thead>
      <tbody>
        {% for s in scores %}
        <tr>
          <th class="left"></th>
          <th class="title">{{ s.title }}</th>
          <td class="level">
            <span class="level_{{ s.level_kind }} level_{{ s.level }}">
              {{ s.level_kind|upper }}
              {{ s.level }}
            </span>
          </td>
          <td class="top mb_holder">
            <div class="mb_holder">
              <div class="mb">
                {% for c in s.musicbar -%}
                {%- if c == '1' -%}
                <span class="mbg"></span>
                {%- elif c == '2' -%}
                <span class="mbb"></span>
                {%- elif c == '3' -%}
                <span class="mby"></span>
                {%- endif -%}
                {%- endfor %}
              </div>
            </div>
          </td>
          <td class="top ind ind_ng">
            {% if s.is_no_gray %}
            <span class="ind_ng">NG</span>
            {% else %}
            <span class="ind_none">-</span>
            {% endif %}
          </td>
          <td class="top ind ind_fc">
            {% if s.is_full_combo %}
            <span class="ind_fc">FC</span>
            {% else %}
            <span class="ind_none">-</span>
            {% endif %}
          </td>
          <td class="top ind ind_ay">
            {% if s.is_all_yellow %}
            <span class="ind_ay">AY</span>
            {% else %}
            <span class="ind_none">-</span>
            {% endif %}
          </td>
          <td class="top rating">
            <span class="rating_{{ s.rating }}">{{ s.rating|upper }}</span>
          </td>
          <td class="top score">{{ s.score if s.is_played }}</td>
          <td class="top space"></td>
          <td class="top last_update_date">{{ s.last_update_date.strftime('%Y-%m-%d') if s.is_played }}</td>
          <th class="right"></th>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <form method="post" action="/regist" enctype="multipart/form-data">
      <p>
        <input type="file" name="score_record_file" />
        <input type="submit" name="submit" value="submit" />
      </p>
    </form>
  </body>
</html>
