<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
  <head>
    <title></title>
  </head>
  <body>
    <h1>{{ message|e }}</h1>

    <table>
      <tbody>
        {% for s in scores %}
        <tr>
          <th>{{ s.title }}</th>
          <td>{{ s.score_bas }}</td>
          <td>{{ s.rating_bas }}</td>
          <td>{{ s.fc_bas }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <ul>
      {% for tune in tunes %}
      <li>
        [{{ tune.tune_id }}]
        <b>{{ tune.title }}</b>
        {% if tune.artist %}
        / {{ tune.artist }}
        {% endif %}
      </li>
      {% endfor %}
    </ul>

    <form method="post" action="/regist" enctype="multipart/form-data">
      <p>
        <input type="file" name="score_record_file" />
        <input type="submit" name="submit" value="submit" />
      </p>
    </form>
  </body>
</html>
