<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
  <head>
    <title>juvisual</title>
    <link rel="stylesheet" href="/static/base.css" type="text/css" media="screen" />
  </head>
  <body>
    <h1>{{ message|e }}</h1>

    <table class="mulist">
      <tbody>
        {% for s in scores %}
        <tr>
          <th class="left"></th>
          <th class="title">{{ s.title }}</th>
          <td class="level"><span class="level_bas level_{{ s.level_bas }}">{{ s.level_bas }}</span></td>
          <td class="top mb_holder">
            <div class="mb_holder">
              <div class="mb">
                {% for c in s.mb_bas -%}
                {%- if c == 1 -%}
                <span class="mbg"></span>
                {%- elif c == 2 -%}
                <span class="mbb"></span>
                {%- elif c == 3 -%}
                <span class="mby"></span>
                {%- endif -%}
                {%- endfor %}
              </div>
            </div>
          </td>
          <td class="top ind ind_ng"><span class="ind_ng">NG</span></td>
          <td class="top ind ind_ay"><span class="ind_ay">AY</span></td>
          <td class="top ind ind_fc"><span class="ind_fc">FC</span></td>
          <td class="top rating">
            <span class="rating_{{ s.rating_bas }}">{{ s.rating_bas|upper }}</span>
          </td>
          <td class="top score">{{ s.score_bas }}</td>
          <td class="top space"></td>
          <th class="right"></th>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <form method="post" action="/regist" enctype="multipart/form-data">
      <p>
        <input type="file" name="score_record_file" />
        <input type="submit" name="submit" value="submit" />
      </p>
    </form>
  </body>
</html>
